* { box-sizing: border-box; }

.row:before, .row:after { content: ""; display: table; clear: both; }

body { text-align: center; margin: 0 auto; max-width: 1200px; }

.container { background-color: lightblue; margin: 0 auto; width: 100%; }

h1 { color: darkblue; }

#search { background-color: blue; border: 1px solid blue; color: white; display: inline-block; margin-bottom: 1rem; }

#search:hover { background-color: white; color: blue; cursor: pointer; }

ul { display: -ms-flexbox; display: flex; -ms-flex-flow: wrap; flex-flow: wrap; -ms-flex-pack: center; justify-content: center; }

li { background: url("https://source.unsplash.com/sV8XOpKQWNc"); background-size: cover; border: 1px solid black; font-weight: bold; list-style-type: none; width: 500px; margin: 1rem; }

input { color: darkblue; }

h2 { color: blue; display: inline-block; font-style: italic; text-decoration: none; }

p { color: white; }

img { height: 20%; width: 20%; }
